<div class="message">
  
  <% if message.user == current_user%>
  <div class="m_right">
    <div class="mm_right">

      <div class="m_user_nickname">
        <%= message.user.nickname %>
      </div>

      <div class="m_date">
        <%= message.created_at.to_s(:datetime_jp) %>
      </div>

      <div class="m_content">
        <p class="mm_content">
        <%= message.content %>
        </p>
      </div>
    </div>
  </div>
  <% else %>


  <div class="ano_user">

    <div class="m_user_nickname">
      <%= message.user.nickname %>
    </div>

    <div class="m_date">
      <%= message.created_at.to_s(:datetime_jp) %>
    </div>

    <div class="m_content">
      <%= message.content %>
    </div>
  </div>
  <% end %>
</div>