<div class="message">
  
  <% if message.user == current_user%>
  <div class="m_right">
    <div class="mm_right">
      <div class="m_user_img">
        <%= image_tag message.user.user_info.image.variant(resize:'100x100'), class: "user_img" if message.user.user_info.image.attached? %>
      </div>

      <div class="m_user_nickname">
        <%= message.user.nickname %>
      </div>

      <div class="m_date">
        <%= message.created_at.to_s(:datetime_jp) %>
      </div>

      <div class="m_content">
        <%= message.content %>
      </div>
    </div>
  </div>
  <% else %>


  <div class="ano_user">
    
    <div class="m_user_img">
    <%= link_to new_room_path do%>
      <%= image_tag message.user.user_info.image.variant(resize:'100x100'), class: "user_img" if message.user.user_info.image.attached? %>
    <% end %>
    </div>
    

    <div class="m_user_nickname">
      <%= message.user.nickname %>
    </div>

    <div class="m_date">
      <%= message.created_at.to_s(:datetime_jp) %>
    </div>

    <div class="m_content">
      <%= message.content %>
    </div>
  </div>
  <% end %>
</div>