<div class="content">
  <header>

    <div class="nav">
      <div class="title">
      <%= link_to 'S U G U', root_path, class: 'title' %>
      </div>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul class="right_header">
          <% if user_signed_in? %>
            <li class="user_name">
            <%= current_user.nickname %>さん
            </li>
            <li class="new_user_info">
            <%= link_to 'マイページ', pre_page_user_infos_path, class: 'header_btn' %>
            </li>
            <li class="logout">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header_btn' %>
            </li>
          <% else %>
            <li class="signin">
            <%= link_to '新規登録', new_user_registration_path, class: 'header_btn' %>
            </li>
            <li class="login">
            <%= link_to 'ログイン', new_user_session_path, class: 'header_btn' %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="border">
      <%= link_to 'S U G U', root_path, class: 'title' %>
      <ul class="right_header">
      <% if user_signed_in? %>
        <li class="user_name">
        <%= current_user.nickname %>さん
        </li>
        <li class="logout">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header_btn' %>
        </li>
        <li class="new_user_info">
        <%= link_to 'マイページ', pre_page_user_infos_path, class: 'header_btn' %>
        </li>
      <% else %>
        <li class="signin">
        <%= link_to '新規登録', new_user_registration_path, class: 'header_btn' %>
        </li>
        <li class="login">
        <%= link_to 'ログイン', new_user_session_path, class: 'header_btn' %>
        </li>
      <% end %>
      </ul>
    </div>
  </header>

  <div class="top_main">
    <div class="left">
    </div>
    <div class="right">
      <div class="proportion">
        <h2>現在の男女比</h2>
        <span class="sex otoko">男 </span><span class="sex"><%= @promotion_male %> ：<span class="sex onna"> 女 </span><span class="sex"><%= @promotion_female %></span>
      </div>
      <div class="wating">
        <h2 class="taiki">待機中グループを<br class="br">検索</h2>
        <%= search_form_for @p, url: user_infos_search_path do |f| %>
        <div class="try">
        <%= f.label :area_id_eq, 'エリア' %>
        <%= f.collection_select :area_id_eq, Area.all, :id, :name, include_blank: '指定なし' %>
        </div>
        <br>
        <div class="try">
        <%= f.label :people_num_id_eq, '人数' %>
        <%= f.collection_select :people_num_id_eq, PeopleNum.all, :id, :name, include_blank: '指定なし' %>
        </div>
        <br>
        <%= f.submit '探してみる', class: "search_btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<% unless user_signed_in? %>
<div class="about_app">
  <div class="what_app">
    <div class="explain">
      <p class="bold" style="border-bottom: 1px solid #806000">他のマッチングアプリと何が違うか？</p><br>
      <p>このアプリが他のアプリと決定的に違う点は２つあります。一つは今すぐ会えるということ。もう一つは「複数人」対「複数人」で出会えるということ。この２つを実現できることで、あなたの出会いの可能性を広げます。</p>
    </div>
  </div>
  <div class="why_app">
    <div class="explain">
      <p class="bold" style="border-bottom: 1px solid #806000">なぜすぐ会えるのか？</p><br>
      <p>アプリで表示されているのは、ログインしているユーザーのみです。ログインしているユーザーは「今」時間が空いています。これがすぐ会える理由です。</p>
    </div>
  </div>
</div>
<% end %>






<div class="top_page">
  <div class="flex">
    <h2 class="gold">待機中の<br class="br">グループ一覧</h2>
  </div>
  <ul class="groups">
    <% @user_infos.each do |user_info| %>
      <li class="list">
        <div class='user_infos'>
          <div class="user_img">
            <!-- ネットのフォローボタン  -->
            <%= image_tag user_info.image.variant(resize:'380x380'), class: "user_img" if user_info.image.attached? %>
            <div id="favorites_buttons_<%= user_info.id %>">
              <%= render partial: 'favorites/favorite', locals: { user_info: user_info} %>
            </div>
            <!-- ネットのフォローボタン -->
            <div class="top">
              <p class="nickname"><%= user_info.user.nickname %></p>
              <span>/</span>
              <p class="area"><%= user_info.area.name %></p>
              <span>/</span>
              <p class="people_num"><%= user_info.people_num_id %>人</p>
            </div>
            <div class="down">
              <p class="user_info_text">ひとこと：<%= user_info.text %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

