<div class="content">
  <header>

    <div class="nav">
      <div class="title">
      <%= link_to 'S U G U', root_path, class: 'title' %>
      </div>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul class="right_header">

          <% if user_signed_in? %>
            <li class="user_name">
            <%= current_user.nickname %>さん
            </li>
            <li class="logout">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header_btn' %>
            </li>
          <% else %>
            <li class="signin">
            <%= link_to '新規登録', new_user_registration_path, class: 'header_btn' %>
            </li>
            <li class="login">
            <%= link_to 'ログイン', new_user_session_path, class: 'header_btn' %>
            </li>
          <% end %>

          <% if user_signed_in? && current_user.user_info.present? %>
            <li class="new_user_info">
            <%= link_to 'マイページ', pre_page_user_infos_path, class: 'header_btn' %>
            </li>
          <% elsif user_signed_in? && unless current_user.user_info.present? %>
            <li class="enter">
            <%= link_to '投稿する', new_user_info_path, class: 'header_btn' %>
            </li>
          <% end %>
          <% end %>

          </ul>
        </div>
      </div>
    </div>

    <div class="border">
      <%= link_to 'S U G U', root_path, class: 'title' %>
      <ul class="right_header">
      <% if user_signed_in? %>
        <li class="user_name">
        <%= current_user.nickname %>さん
        </li>
        <li class="logout">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header_btn' %>
        </li>
      <% else %>
        <li class="signin">
        <%= link_to '新規登録', new_user_registration_path, class: 'header_btn' %>
        </li>
        <li class="login">
        <%= link_to 'ログイン', new_user_session_path, class: 'header_btn' %>
        </li>
      <% end %>

      <% if user_signed_in? && current_user.user_info.present? %>
        <li class="new_user_info">
        <%= link_to 'マイページ', pre_page_user_infos_path, class: 'header_btn' %>
        </li>
      <% elsif user_signed_in? && unless current_user.user_info.present? %>
        <li class="enter">
        <%= link_to '投稿する', new_user_info_path, class: 'header_btn' %>
        </li>
      <% end %>
      <% end %>

      </ul>
    </div>
  </header>

  <div class="top_main">
    <div class="left">
      <p>S U G Uは、<br>「今すぐ会いたい」を形にする<br>「複数人」対「複数人」の<br>マッチングアプリです。</p>
    </div>
    <div class="right">
      <div class="proportion">
        <h2>現在の男女比</h2>
        <span class="sex otoko">男 </span><span class="sex"><%= @promotion_male %></span><span class="brbr">人</span><br class="brbr">
        <span class="none">：</span>
        <span class="sex onna"> 女 </span><span class="sex"><%= @promotion_female %></span><span class="brbr">人</span>
      </div>
      <div class="wating">
        <h2 class="taiki">待機中グループを<br class="br375">検索</h2>
        <%= search_form_for @p, url: user_infos_search_path do |f| %>
        <div class="try">
        <%= f.label :area_id_eq, 'エリア' %>
        <%= f.collection_select :area_id_eq, Area.all, :id, :name, include_blank: '指定なし' %>
        </div>
        <br>
        <div class="try">
        <%= f.label :people_num_id_eq, '人数' %>
        <%= f.collection_select :people_num_id_eq, PeopleNum.all, :id, :name, include_blank: '指定なし' %>
        </div>
        <br>
        <div class="s">
        <%= f.submit '探してみる', class: "search_btn" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/flash' %>


<% unless user_signed_in? %>
<div class="about_app">
  <div class="what_app">
    <div class="explain">
      <p class="bold" style="border-bottom: 1px solid #806000">どんなマッチングアプリ？</p><br>
      <p>S U G Uは、今すぐに異性との飲み会を開きたい人に向けたマッチングアプリです。他のアプリと違う点は２つあります。一つは「複数人」対「複数人」で出会えるということ。もう一つは今すぐ会えるということです。</p>
    </div>
  </div>
  <div class="why_app">
    <div class="explain">
      <p class="bold" style="border-bottom: 1px solid #806000">なぜすぐ会えるのか？</p><br>
      <p>「待機中のグループ一覧」にはあなたと同じように、今すぐに飲み会を開きたいユーザーがいらっしゃいます。そんな方々が集まっているので、すぐに会うことができます。またの上の方に表示されているユーザーほど、投稿時間が浅く、マッチする確率が上がります。</p>
    </div>
  </div>
</div>

<div class="how_to_use">
  <h2 class="gold">S U G Uの<br class="br320">使い方</h2>
  <p class="exp"><span class="bold under_line">STEP1</span><br class="br"> 現在の自分の状況を<br class="br320">投稿する</p>
  <p class="exp"><span class="bold under_line">STEP2</span><br class="br"> 他のユーザーの投稿を<br class="br375">お気に入りをする</p>
  <p class="exp"><span class="bold under_line">STEP3</span><br class="br"> 相手も自分の投稿を<br class="br375"><br class="br320">お気に入りしたら<br class="br320">マッチング</p>
  <p class="exp"><span class="bold under_line">STEP4</span><br class="br"> マッチしたユーザー<br class="br320">との<br class="br375">チャットルームを<br class="br320">作成</p>
  <p class="exp"><span class="bold under_line">STEP5</span><br class="br"> チャットをスタート</p>
  <p class="asap">早速ログインして、<br class="br320">素晴らしい出会いを見つけてください</p>
</div>
<% end %>



<div class="top_page">
  <div class="flex">
    <h2 class="gold">待機中の<br class="br">グループ一覧</h2>
  </div>
  <div class="explain_flex">
    <p style="font-size:17px;">上に表示されている投稿ほど<br class="br375">最新のものです。<br>見逃さずにお気に入りを<br class="br">しましょう。</p>
  </div>
  <p class="caution">※ログイン後、お気に入りを<br class="br">することができます。</p>
  <ul class="groups">
    <% @user_infos.each do |user_info| %>
      <li class="list">
        <div class='user_infos'>
          <div class="user_img">
            <!-- ネットのフォローボタン  -->
            <%= image_tag user_info.image.variant(resize:'380x380'), class: "user_img" if user_info.image.attached? %>
            <div id="favorites_buttons_<%= user_info.id %>">
              <%= render partial: 'favorites/favorite', locals: { user_info: user_info} %>
            </div>
            <!-- ネットのフォローボタン -->
            <div class="time">
            <%= user_info.updated_at.to_s(:datetime_jp) %>
            </div>
            <div class="top">
              <p class="nickname"><%= user_info.user.nickname %></p>
              <span>/</span>
              <p class="area"><%= user_info.area.name %></p>
              <span>/</span>
              <p class="people_num"><%= user_info.people_num_id %>人</p>
            </div>
            <div class="down">
              <p class="user_info_text">ひとこと：<%= user_info.text %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

