<div class="pre_content">
  <header>

    <div class="nav">
      <div class="title">
      <%= link_to 'S U G U', root_path, class: 'title' %>
      </div>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul class="right_header">
          <% if user_signed_in? %>
            <li class="user_name">
            <%= current_user.nickname %>さん
            </li>
            <div class="to_root">
            <%= link_to 'トップページ', root_path, class: 'header_btn' %>
            </div>
            <li class="logout">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header_btn' %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="border">
      <%= link_to 'S U G U', root_path, class: 'title' %>
      <ul class="right_header">
      <% if user_signed_in? %>
        <li class="user_name">
        <%= current_user.nickname %>さん
        </li>
        <div class="to_root">
        <%= link_to 'トップページ', root_path, class: 'mypage_btn' %>
        </div>
      <% end %>
      </ul>
    </div>
  </header>

  <div class="mypage">
    <div class="my">
      <div class="mypage_btns">
        <h2>マイページ</h2>
        <div class="enter">
        <%= link_to '投稿する', new_user_info_path, class: 'mypage_btn' %>
        </div><br>
        <% @user_infos.each do |user_info| %>
        <% if current_user.id == user_info.user_id %>
        <div class="edit_user_info">
        <%= link_to '投稿を編集する', edit_user_info_path(user_info.id), class: 'mypage_btn' %>
        </div><br>
        <div class="matchin_user">
        <%= link_to 'ルーム作成', new_room_path, class: 'mypage_btn' %>
        </div><br>
        <div class="matchin_user">
        <%= link_to 'チャットルームへ', rooms_path, class: 'mypage_btn' %>
        </div><br>
      </div>
    </div>
  </div>

</div>
  
<div class='pre_user_infos'>
  <div class="flex">
    <h2 class="gold">あなたの今の投稿<h2>
  </div>
  <div class="pre_user_img">
  <%= image_tag user_info.image.variant(resize:'400x400'), class: "user_img" if user_info.image.attached? %>
  </div>
  <div class="ul_top">
    <p class="nickname"><%= user_info.user.nickname %></p>
    <span>/</span>
    <p class="area"><%= user_info.area.name %></p>
    <span>/</span>
    <p class="people_num"><%= user_info.people_num_id %>人</p>
  </div>
  <div class="down">
    <p class="user_info_text">ひとこと：<%= user_info.text %></p>
  </div>
    <% end %>
  <% end %>
<% unless user_signed_in?%>
  <div class="enter">
  <%= link_to '情報を入力する', new_user_info_path, class: 'mypage_btn' %>
  </div><br>
<% end %>
</div>