<header>
  <div class="border">
    <h2 class="title">I - s e k i</h2>
    <ul class="right_header">
    <% if user_signed_in? %>
      <li class="user_name">
      <%= current_user.nickname %>さん、まいど！
      </li>
      <li class="logout">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn' %>
      </li>
      <li class="new_user_info">
      <%= link_to 'マイページ', pre_page_user_infos_path %>
      </li>
    <% else %>
      <li class="user_name">
      <li class="login">
      <%= link_to 'ログイン', new_user_session_path %>
      </li>
      <li class="signin">
      <%= link_to '新規登録', new_user_registration_path %>
      </li>
    <% end %>
    </ul>
  </div>
</header>


<div class="search_top">
  <h1>検索結果</h1>
  <div class="root_path">
  <%= link_to 'トップページへ戻る', root_path %>
  </div>
</div>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length != 0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%= image_tag result.image.variant(resize:'400x400'), class: "user_img" if result.image.attached? %>
      <%= result.user.nickname %> |
      <%= result.area_id %> |
      <%= result.people_num_id %>人
      <%= result.text %>
    </li>
  <% end %>
<% else %>
  該当するグループはいません
<% end %>