<header>
  <div class="border">
    <h2 class="title">I - s e k i</h2>
    <ul class="right_header">
    <% if user_signed_in? %>
      <li class="user_name">
      <%= current_user.nickname %>さん、まいど！
      </li>
      <li class="logout">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn' %>
      </li>
      <li class="new_user_info">
      <%= link_to 'マイページ', pre_page_user_infos_path %>
      </li>
    <% else %>
      <li class="user_name">
      <li class="login">
      <%= link_to 'ログイン', new_user_session_path %>
      </li>
      <li class="signin">
      <%= link_to '新規登録', new_user_registration_path %>
      </li>
    <% end %>
    </ul>
  </div>
</header>


<div class="search_top">
  <h1>検索結果</h1>
  <div class="root_path">
  <%= link_to 'トップページへ戻る', root_path %>
  </div>
</div>
<%# 検索結果の個数で条件分岐 %>
<div class="top_page">
  <% if @results.length != 0 %>
    <ul class="groups">
      <% @results.each do |result| %>
        <li class="list">
          <div class='user_infos'>
            <div class="user_img">
            <!-- ネットのフォローボタン  -->
            <%= image_tag result.image.variant(resize:'400x400'), class: "user_img" if result.image.attached? %>
            <% if user_signed_in? && result.user_id != current_user.id %>
              <% if result.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
                <p class="follow_btn"><%=link_to "お気に入り済", user_info_favorites_path(result.id), class: "white", method: :delete %></p>
              <% else %>
                <p class="follow_btn"><%=link_to "お気に入り", user_info_favorites_path(result.id), class: "white", method: :post %></p>
              <% end %>
            <% end %>
            <!-- ネットのフォローボタン  -->
              <div class="top">
                <p class="nickname"><%= result.user.nickname %>|</p>
                <p class="area"><%= result.area_id %>|</p>
                <p class="people_num"><%= result.people_num_id %>人</p>
              </div>
              <div class="down">
                <p class="user_info_text"><%= result.text %></p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
</div>
<% else %>
  ごめんなさい、該当するグループはいません。
  違う条件でも検索してみましょう！
<% end %>


