<div class='new_room'>
  <%=form_with model: @room, local: true do |f|%>
  <div class="new_room_form">
    
    <h1>新規チャットルーム</h1>
    
      <div class='room_form'>
        <select name="room[user_ids][]" class="room_user_select">
          <option value="">チャットするユーザーを選択してください</option>
          <% @match.each do |match| %>
            <option value=<%=match.id%>><%= match.nickname %></option>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
      </div>
      <div class='create_room'>
        <%= f.submit class: 'create_room_btn'%>
      </div>

    
  </div>
  <% end %>
</div>
