<div class='new_room'>
  <%=form_with model: @room, local: true do |f|%>
  <div class="new_room_form">
    <h2>新規チャットルーム</h2>
    <div class='room_form'>
      <select name="room[user_ids][]" class="room_user_select">
        <option value="">マッチしたユーザーを選択できます</option>
        <% @match.each do |match| %>
          <option value=<%= match.id %>><%= match.nickname %></option>
        <% end %>
      </select>
      <p>※選択肢にユーザー名が現れない場合は<br class="br">マッチしていないか、<br class="br">すでにチャットルームが存在しています。</p>
      <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
    </div>
    <div class='create_room'>
      <%= f.submit class: 'create_room_btn'%>
    </div>
    <div class="redirect_mypage">
      <%= link_to 'マイページへ戻る', pre_page_user_infos_path %>
    </div>
  </div>
  <% end %>
</div>


<% if @matched.exists?%>
<% @matched.each do |matched| %>
<div class="matched_users">
  <div class="flex">
    <h2 class="gold">マッチしたユーザー</h2>
  </div>
  <ul>
    <li class="list">
      <div class="matched_top">
        <div class="matched_img">
          <%= image_tag matched.user_info.image.variant(resize:'400x400'), class: "user_img" if matched.user_info.image.attached? %>
        </div>
        <div class="top">
          <p class="nickname"><%= matched.nickname %></p>
          <span>/</span>
          <p class="area"><%= matched.user_info.area.name %></p>
          <span>/</span>
          <p class="people_num"><%= matched.user_info.people_num_id %>人</p>
        </div>
      </div>
      <div class="down">
        <p class="user_info_text">ひとこと：<%= matched.user_info.text %></p>
      </div>
    </li>
  </ul>
</div>
<% end %>
<% end %>
